============================{equals}
 Pytoolbox API Reference > {title}
============================{equals}

.. automodule:: {module}
    :members:
    :private-members:
    :special-members:
    :undoc-members:
